<!doctype html>
<html lang="en">

<head>
	<title>Pronósticos deportivos | Juegos Online | bet593.ec</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="Pronósticos deportivos | Juegos Online | bet593.ec">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

	<!-- / -->
	<!-- Plugin CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/slick.css" rel="stylesheet">
	<link href="css/animate.min.css" rel="stylesheet">
	<link href="css/menu.css" rel="stylesheet">
	<link href="css/aldebaran.css" rel="stylesheet">
	<!-- / -->
	<!-- Favicon -->
	<link rel="icon" href="images/favicon.png" />
	<!-- / -->
	<!-- Theme Style -->
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<!-- / -->

	<style>
		input::-ms-reveal,
		input::-ms-clear {
			display: none;
		}
	</style>

</head>

<body>

	<div id="app" v-cloak>
		<section class="error">
			<div class="container">
				<div class="row">
					<div class="col-md-12 error-center">
						<div class="error-txt">
							<h4>error</h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 error-btn">
						<div class="casino-btn">
							<a href="/">
								Go back to home
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

</body>

</html>