<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pronósticos deportivos | Juegos Online | bet593.ec</title>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="Pronósticos deportivos | Juegos Online | bet593.ec" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
  <!---Font Icon-->
  <link href="css/font-awesome.min.css" rel="stylesheet" />
  <link href="font/flaticon.css" rel="stylesheet" />
  <!-- / -->
  <!-- Plugin CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <link href="css/slick.css" rel="stylesheet" />
  <link href="css/animate.min.css" rel="stylesheet" />
  <link href="css/magnific-popup.css" rel="stylesheet" />
  <link href="css/YouTubePopUp.css" rel="stylesheet" />
  <link href="css/vue2-editor.css" rel="stylesheet" />
  <link href="css/vue-slider-component.umd.css" rel="stylesheet" />
  <link href="css/menu.css" rel="stylesheet" />
  <link href="css/aldebaran.css" rel="stylesheet" />
  <!-- / -->
  <!-- Favicon -->
  <link rel="icon" href="images/favicon.png" />
  <!-- / -->
  <!-- Theme Style -->
  <link href="css/style.css" rel="stylesheet" />
  <link href="css/responsive.css" rel="stylesheet" />
  <!-- / -->
  <!-- Sports book -->
  <script type="text/javascript" th:src="*{sportsbookJs}"></script>
  <!-- / -->
  <!-- PWA -->
  <link rel="manifest" href="aldebaran-manifest.json" />
  <link rel="apple-touch-icon" href="images/launchericons/ios/72.png" sizes="72x72" />
  <link rel="apple-touch-icon" href="images/launchericons/ios/96.png" sizes="96x96" />
  <link rel="apple-touch-icon" href="images/launchericons/ios/128.png" sizes="128x128" />
  <link rel="apple-touch-icon" href="images/launchericons/ios/144.png" sizes="144x144" />
  <link rel="apple-touch-icon" href="images/launchericons/ios/152.png" sizes="152x152" />
  <link rel="apple-touch-icon" href="images/launchericons/ios/192.png" sizes="192x192" />
  <link rel="apple-touch-icon" href="images/launchericons/ios/256.png" sizes="256x256" />
  <link rel="apple-touch-icon" href="images/launchericons/ios/512.png" sizes="512x512" />
  <link rel="apple-touch-startup-image" href="images/launchericons/ios/192.png" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#181434" />
  <meta name="apple-mobile-web-app-title" content="Pronósticos deportivos | Juegos Online | bet593.ec" />
  <meta name="msapplication-TileImage" content="images/favicon.png" />
  <meta name="msapplication-TileColor" content="#181434" />
  <meta name="theme-color" content="#181434" />
  <meta name="google-site-verification" content="jLN211arNldBCY4JyJI4VKXgGWpGONwyiDWd-KFcHYg" />
  <!-- / -->

  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        "gtm.start": new Date().getTime(),
        event: "gtm.js",
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-T5XNGQNH");
  </script>
  <!-- End Google Tag Manager -->

  <style>
    input::-ms-reveal,
    input::-ms-clear {
      display: none;
    }

    [v-cloak] {
      display: none;
    }
  </style>

  <style>
    div#centribal_id {
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: fixed;
    }
  </style>
</head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2MF8GTYQQ4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-2MF8GTYQQ4");
</script>
<!-- -------------------------------------------- -->
<!-- SMARTICO PLUGIN -->
<script>
  (function (d, r, b, h, s) {
    h = d.getElementsByTagName("head")[0];
    s = d.createElement("script");
    s.onload = b;
    s.src = r;
    h.appendChild(s);
  })(document, "https://libs.smartico.ai/smartico.js", function () {
    _smartico.init(
      document.getElementById("__smarticoPublicLabelKey").value,
      { brand_key: document.getElementById("__smarticoPublicBrandKey").value }
    );
    console.log("Smartico plugin init");
  });
</script>
<!-- -------------------------------------------- -->

<body>
  <!-- VARIABILI GLOBALI -->
  <input type="hidden" id="__id" th:value="*{principal?.id}" maxlength="150" />
  <input type="hidden" id="__email" th:value="*{principal?.email}" maxlength="150" />
  <input type="hidden" id="__firstname" th:value="*{principal?.firstname}" maxlength="150" />
  <input type="hidden" id="__lastname" th:value="*{principal?.lastname}" maxlength="150" />
  <input type="hidden" id="__userId" th:value="*{principal?.userId}" maxlength="64" />
  <input type="hidden" id="__sessionId" th:value="*{principal?.sessionId}" />
  <input type="hidden" id="__lastlogin" th:value="*{principal?.lastlogin}" />
  <input type="hidden" id="__sportsBookToken" th:value="*{principal?.sportsBookToken}" />
  <input type="hidden" id="__status" th:value="*{principal?.status}" />

  <input type="hidden" id="__serverUrl" th:value="*{serverUrl}" />
  <input type="hidden" id="__jsDebug" th:value="*{jsDebug}" />
  <input type="hidden" id="__underAge" th:value="*{underAge}" />
  <input type="hidden" id="__betMethod" th:value="*{betMethod}" />
  <input type="hidden" id="__mtpuUrl" th:value="*{mtpuUrl}" />
  <input type="hidden" id="__mtpuUrlLaunch" th:value="*{mtpuUrlLaunch}" />
  <input type="hidden" id="__currency" th:value="*{currency}" />
  <input type="hidden" id="__locate" th:value="*{locate}" />
  <input type="hidden" id="__sportsbookWalletcode" th:value="*{sportsbookWalletcode}" />
  <input type="hidden" id="__operator" th:value="*{operator}" />
  <input type="hidden" id="__gsNewLauncher" th:value="*{gsNewLauncher}" />
  <input type="hidden" id="__gsNewLauncher1" th:value="*{gsNewLauncher1}" />
  <input type="hidden" id="__loteriaUrlDetail" th:value="*{loteriaUrlDetail}" />
  <input type="hidden" id="__placetopayUsers" th:value="*{placetopayUsers}" />
  <input type="hidden" id="__nuveiUsers" th:value="*{nuveiUsers}" />
  <input type="hidden" id="__safetypayUsers" th:value="*{safetypayUsers}" />
  <input type="hidden" id="__paycashUsers" th:value="*{paycashUsers}" />
  <input type="hidden" id="__nicoUsers" th:value="*{nicoUsers}" />
  <input type="hidden" id="__pdsUsers" th:value="*{pdsUsers}" />
  <input type="hidden" id="__banktransferUsers" th:value="*{banktransferUsers}" />
  <input type="hidden" id="__payphoneUsers" th:value="*{payphoneUsers}" />
  <input type="hidden" id="__clearsaleClientId" th:value="*{clearsaleClientId}" />
  <input type="hidden" id="__smarticoPublicBrandKey" th:value="*{smarticoPublicBrandKey}" />
  <input type="hidden" id="__smarticoPublicLabelKey" th:value="*{smarticoPublicLabelKey}" />

  <input type="hidden" id="target" value="OK" />

  <div id="app" v-cloak>
    <!-- back to top start -->
    <span id="container-back-top-btn">
      <div id="back-top-btn">
        <i class="fa fa-chevron-up"></i>
      </div>
    </span>
    <!-- back to top end -->

    <!-- Preloader Start -->
    <div class="preloader">
      <div class="loader">
        <div style="width: 200px; height: 150px" class="justify-content-center text-center">
          <img src="images/logotipo-animazione.gif" class="img-fluid" alt="effect" style="width: 150px" rel="preload" />
        </div>
      </div>
    </div>
    <!-- Preloader end -->
    <!-- Header -->
    <section id="header" class="desktopimage">
      <div class="container header-container">
        <div class="row justify-content-end primary-color" style="height: 34px; margin-left: 0px; margin-right: 0px">
          <div class="col-4 align-self-center text-right">
            <a target="_blank" href="https://www.instagram.com/bet593oficial"><img src="images/yellow-instagram.png"
                alt="logo_instagram" style="width: 24px" /></a>
            <a target="_blank" href="https://www.facebook.com/bet593oficial"><img src="images/yellow-facebook.png"
                alt="logo_facebook" style="width: 24px" /></a>
            <a target="_blank" href="https://twitter.com/bet593"><img src="images/yellow-x.png" alt="logo_x"
                style="width: 24px" /></a>
          </div>
          <div class="col-2 align-self-center">
            <div class="float-right dropdown" style="margin-top: 7px">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" style="
                    background-color: rgba(0, 0, 0, 0);
                    color: rgb(255, 215, 0);
                    line-height: 1px;
                    font-size: 14px;
                  " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span v-show="store.state.locate=='en-GB'" width="40" height="30">
                  EN
                </span>
                <span v-show="store.state.locate=='es-ES'" width="40" height="30">
                  ES
                </span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="
                    top: 44px !important;
                    min-width: 65px !important;
                    background-color: #202659;
                    color: rgb(255, 215, 0);
                  ">
                <a class="dropdown-item" @click="changeLang('en-GB')" style="
                      padding-left: 12px;
                      padding-right: 12px;
                      width: 64px;
                      cursor: pointer;
                    ">
                  <div width="40" height="30">EN</div>
                </a>
                <a class="dropdown-item" @click="changeLang('es-ES')" style="
                      padding-left: 12px;
                      padding-right: 12px;
                      width: 64px;
                      cursor: pointer;
                    ">
                  <div width="40" height="30">ES</div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row blue-loteria" style="height: 70px; margin-left: 0px; margin-right: 0px">
          <div class="col-2 text-center align-self-center">
            <img src="images/header-logo.png" alt="logo_header" style="height: 48px; cursor: pointer"
              @click="location.href='#/home'" />
          </div>
          <div class="col-4 text-center align-self-center">
            <nav id="nav-part" class="navbar custom_nav full_nav sticky-top navbar-expand-md"
              style="padding: 0px 0px 0px 0px !important">
              <div class="container" style="margin: 0; padding-left: 0px; padding-right: 0px">
                <div class="collapse navbar-collapse" id="navbar-collapse">
                  <div class="nav-res">
                    <ul class="nav navbar-nav m-auto menu-inner fa-time" id="header-navbar">
                      <li>
                        <a :href="'#/home'" :class="{'active':isCurrentRoutePath('/home')}"
                          @click="loadingOnDelay(200);destroySportsBook()">
                          <a-lang value="home"> </a-lang>
                        </a>
                      </li>

                      <li>
                        <a :href="'#/overview'" :class="{'active':isCurrentRoutePath('/overview')}"
                          @click="loadingOnDelay(200)">
                          <a-lang value="sports-book"> </a-lang>
                        </a>
                      </li>
                      <li>
                        <a :href="'#/games'" :class="{'active':isCurrentRoutePath('/games')}"
                          @click="loadingOnDelay(600);destroySportsBook()">
                          <a-lang value="games"> </a-lang>
                        </a>
                      </li>
                      <li>
                        <a :href="'#/games/view/bingo'" :class="{'active':isCurrentRoutePath('/games/view/bingo')}"
                          @click="loadingOnDelay(200);destroySportsBook()">
                          <a-lang value="bingo"> </a-lang>
                        </a>
                      </li>
                      <li>
                        <a :href="'#/promotions'" :class="{'active':isCurrentRoutePath('/promotions')}"
                          @click="loadingOnDelay(200);destroySportsBook()">
                          <a-lang value="promotions"> </a-lang>
                        </a>
                      </li>
                      <li>
                        <a href="https://blog.bet593.ec/" target="_blank">
                          <a-lang value="blog"> </a-lang>
                        </a>
                      </li>
                      <!--
                        <li class="dropdown">
                          <a
                            href=""
                            class="dropdown-toggle"
                            data-toggle="dropdown"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false"
                          >
                            <a-lang value="blog"> </a-lang>
                          </a>
                          <ul
                            class="dropdown-menu maindrop_menu dropdown-menu-custom"
                          >
                            <li
                              style="
                                padding-bottom: 6px;
                                padding-left: 13px;
                                font-size: 12px;
                              "
                            >
                              <a
                                href="https://blog.bet593.ec/"
                                target="_blank"
                                style="color: #fff"
                              >
                                <a-lang value="blog"> </a-lang>
                              </a>
                            </li>
                            <li
                              style="
                                padding-bottom: 6px;
                                padding-left: 13px;
                                font-size: 12px;
                              "
                            >
                              <a
                                href="https://blog.bet593.ec/tu-propia-liga/"
                                target="_blank"
                                style="color: #fff"
                              >
                                <a-lang value="tu-propia-liga"> </a-lang>
                              </a>
                            </li>
                            <li
                              v-if="!isInStandaloneMode() && !isDesktop() && viewDownloadButton"
                            >
                              <a
                                href="javascript:void(0)"
                                @click="downloadApp();closeMenuMobile();"
                              >
                                <a-lang value="download-app"> </a-lang>
                              </a>
                            </li>
                          </ul>
                        </li>-->
                      <li style="display: none">
                        <i class="more-less fa fa-align-right"></i>
                        <i class="fa fa-times"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div class="col-6 align-self-center text-right" style="padding-right: 25px" v-if="!isUserLogged()">
            <a th:href="*{urlSso}">
              <img src="images/logo-loteria.png" alt="logo_loteria"
                style="width: 125px; height: 38px; margin-right: 15px;" @click="loadingOnDelay();destroySportsBook()" />
            </a>
            <!-- <button v-if="document.getElementById('__smarticoPublicLabelKey') &&
													document.getElementById('__smarticoPublicLabelKey').value" class="ruleta"
							@click="$('#loginModal').modal('show')">
						</button> -->
            <button class="header-button" data-toggle="modal" data-target="#loginModal" data-backdrop="static"
              data-keyboard="false" href="javascript:void(0)" @click="isLogin = 'login'; modalLoginKey++;">
              <a-lang value="new-login"></a-lang>
              <img :src="'images/iniciar_sesion.png'" alt="" style="width: 20px" />
            </button>
            <button class="register-button" @click="location.href='/signin'">
              <a-lang value="sign-up"></a-lang>
              <img :src="'images/usuario.png'" alt="" style="width: 20px" />
            </button>
          </div>
          <div class="col-6 align-self-center" style="padding-right: 25px" v-else id="logged-buttons">
            <div class="d-flex justify-content-end align-items-center mr-3" style="width: 100%">
              <a th:href=" *{urlSso}">
                <img src="images/logo-loteria.png" alt="logo_loteria" style="
                      min-width: 100px;
                      width: 125px;
                      height: 38px;
                    " @click="loadingOnDelay();destroySportsBook()" />
              </a>
              <div v-if="isSmarticoMissionUser() && document.getElementById('__smarticoPublicLabelKey') &&
																		document.getElementById('__smarticoPublicLabelKey').value">
                <button class="ruleta" @click="_smartico.dp('dp:gf')"></button>
              </div>
              <div class="d-flex justify-content-around align-items-center" style="width: 450px; min-width: 300px">
                <div class="dropdown" style="display: inline">
                  <button class="header-button dropdown-toggle background-transparent" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" href="javascript:void(0)"
                    target="#" aria-expanded="false">
                    <a-lang value="cuenta"> </a-lang>
                  </button>

                  <div class="dropdown-menu border-none background-transparent" aria-labelledby="dropdownMenuButton">
                    <button class="header-button dropdown-item" style="padding: 0" data-toggle="modal"
                      data-backdrop="static" data-keyboard="false" data-target="#userProfile" href="javascript:void(0)"
                      @click="store.state.tabProfile='profile';modalProfileKey++">
                      <a-lang value="userProfile"> </a-lang>
                    </button>
                    <button class="header-button dropdown-item" style="padding: 0" @click="logout()"
                      href="javascript:void(0)">
                      <a-lang value="logout"> </a-lang>
                    </button>
                  </div>
                </div>
                <button class="yellow-loteria header-button no-border" style="line-height: 30px !important"
                  data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#userProfile"
                  href="javascript:void(0)" @click="store.state.tabProfile='deposit';modalProfileKey++">
                  <a-lang value="rechange"> </a-lang>
                </button>
                <button class="header-button dropdown-toggle yellow-border no-outline" data-toggle="modal"
                  data-backdrop="static" data-keyboard="false" href="javascript:void(0)" @click="toggleBalanceModal()">
                  <div class="progress-bar" v-show="loadingBalance" style="
                        position: relative;
                        top: 7px;
                        width: 100px;
                        margin: 0 auto;
                      ">
                    <div class="progress-bar-value" style="background-color: #181434"></div>
                  </div>
                  <span v-show="!loadingBalance" class="big yellow-text">{{ currencyView(currency) }} {{ cash }}
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div id="balanceModal" class="balance-modal">
      <div class="d-flex justify-content-between align-items-center">
        <span><strong>{{ store.state.firstname }} {{ store.state.lastname }}</strong></span>
        <a href="javascript:void(0)" class="close-btn" @click="toggleBalanceModal()">
          <span style="color: white !important; font-weight: bold">X</span>
        </a>
      </div>
      <div class="mt-2">
        <p>
          {{ getLocate("balance") }}
          <strong>{{ currencyView(currency) }} {{ cash }}</strong>
        </p>
        <p>
          {{ getLocate("cashable-credits") }}
          <strong>{{ currencyView(currency) }} {{ cashableCredits }}</strong>
        </p>
        <p>
          {{ getLocate("promotional-bet-credits") }}<strong>{{ currencyView(currency) }} {{ promotionalCredits
            }}</strong>
        </p>
        <p>
          {{ getLocate("promotional-credits") }}<strong>{{ currencyView(currency) }} {{ promotionalBetCredits
            }}</strong>
        </p>
      </div>
    </div>

    <section id="header" class="header-fixed tabletimage mobileimage">
      <!-- mobile menu -->
      <div class="container header-container">
        <div class="row" style="height: 80px; background-color: #131635">
          <div class="col-4" style="margin-top: 7px; padding-right: 0px">
            <a style="cursor: pointer" :href="'/#/home'" @click="closeMenuMobile();loadingOnDelay(300)" class="logo">
              <img src="images/header-logo.png" class="img-responsive" alt="" style="margin-left: 5px" />
            </a>
          </div>
          <div class="col-8 align-items-center justify-content-end" style="padding-left: 0px">
            <div
              v-if="isUserLogged() && isSmarticoMissionUser() && document.getElementById('__smarticoPublicLabelKey') && document.getElementById('__smarticoPublicLabelKey').value"
              class="ruleta ruleta-mobile" style="position: static" @click="closeMenuMobile();_smartico.dp('dp:gf')">
            </div>
            <div v-if="isUserLogged()" class="d-flex justify-content-around align-items-center mr-5"
              style="width: 157px">
              <button class="yellow-loteria header-button no-border" style="width: 70px !important; margin-right: 3px"
                data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#userProfile"
                href="javascript:void(0)" @click="store.state.tabProfile='deposit';modalProfileKey++">
                <a-lang value="rechange"> </a-lang>
              </button>
              <button class="header-button dropdown-toggle yellow-border" data-toggle="modal" data-backdrop="static"
                data-keyboard="false" href="javascript:void(0)" @click="toggleBalanceModal()" style="width: 90px">
                <div class="progress-bar" v-show="loadingBalance" style="
                      position: relative;
                      top: 7px;
                      width: 50px;
                      margin: 0 auto;
                    ">
                  <div class="progress-bar-value" style="background-color: #181434"></div>
                </div>
                <span v-show="!loadingBalance" class="big yellow-text">{{ currencyView(currency) }} {{ cash }}
                </span>
              </button>
            </div>
            <nav id="cssmenu" class="loteria-hidden loteria-mobile"
              style="width: 48px; position: absolute; right: 0px; top: 0px">
              <div id="head-mobile"></div>
              <div class="button menu-opened" @click="if(isUserLogged()) getBalances();">
                <i class="more-less fa fa-bars fa-2x"></i>
              </div>
              <div id="menuWrapper">
                <ul id="menuMobile" class="open">
                  <div v-if="!isUserLogged()" id="container-menu-mobile">
                    <li><br /></li>
                    <li>
                      <a :href="'#/home'" :class="{'active':isCurrentRoutePath('/home')}"
                        @click="closeMenuMobile();loadingOnDelay(200);destroySportsBook()">
                        <a-lang value="home"> </a-lang>
                      </a>
                    </li>
                    <li class="custom-sub-menu">
                      <a class="nav-link collapsed text-truncate submenu-icon" href="#pronosticos"
                        data-toggle="collapse" data-target="#pronosticos">
                        <a-lang value="pronosticos"></a-lang>
                      </a>
                      <div class="collapse" id="pronosticos" aria-expanded="false">
                        <ul id="ul-pronosticos-mobile" class="flex-column nav">
                          <li class="nav-item" style="margin-bottom: 0px">
                            <a :href="'#/overview'" :class="{'active':isCurrentRoutePath('/overview')}"
                              @click="closeMenuMobile();loadingOnDelay(200)"
                              class="nav-link menu-mobile-sub-menu basket-ball">
                              <a-lang value="sports-book"> </a-lang>
                            </a>
                          </li>
                          <li class="nav-item" style="margin-bottom: 0px">
                            <a :href="'/#/games/view/virtuals'" :class="{'active':isCurrentRoutePath('/games')}"
                              @click="closeMenuMobile();loadingOnDelay(200);destroySportsBook()"
                              class="nav-link menu-mobile-sub-menu mouse">
                              <a-lang value="virtuals"> </a-lang>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <a :href="'#/games'" :class="{'active':isCurrentRoutePath('/games')}"
                        @click="closeMenuMobile();loadingOnDelay(600);destroySportsBook()">
                        <a-lang value="games"> </a-lang>
                      </a>
                    </li>
                    <li>
                      <a :href="'#/games/view/bingo'" :class="{'active':isCurrentRoutePath('/games/view/bingo')}"
                        @click="loadingOnDelay(200);destroySportsBook()">
                        <a-lang value="bingo"> </a-lang>
                      </a>
                    </li>
                    <li>
                      <a :href="'#/promotions'" :class="{'active':isCurrentRoutePath('/promotions')}"
                        @click="closeMenuMobile();loadingOnDelay(200);destroySportsBook()">
                        <a-lang value="promotions"> </a-lang>
                      </a>
                    </li>
                    <li>
                      <a href="https://blog.bet593.ec/" target="_blank">
                        <a-lang value="blog"> </a-lang>
                      </a>
                    </li>
                    <!--
                      <li class="custom-sub-menu">
                        <a
                          class="nav-link collapsed text-truncate submenu-icon"
                          href="#submenu1"
                          data-toggle="collapse"
                          data-target="#submenu1"
                        >
                          <a-lang value="blog"></a-lang>
                        </a>
                        <div
                          class="collapse"
                          id="submenu1"
                          aria-expanded="false"
                        >
                          <ul id="ul-blog-mobile" class="flex-column nav">
                            <li class="nav-item" style="margin-bottom: 0px">
                              <a
                                href="https://blog.bet593.ec/"
                                target="_blank"
                                class="nav-link menu-mobile-sub-menu"
                              >
                                <a-lang value="blog"> </a-lang>
                              </a>
                            </li>
                            <li class="nav-item" style="margin-bottom: 0px">
                              <a
                                href="https://blog.bet593.ec/tu-propia-liga/"
                                target="_blank"
                                class="nav-link menu-mobile-sub-menu"
                              >
                                <a-lang value="tu-propia-liga"> </a-lang>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </li>-->
                    <li class="nav-item" v-if=" !isInStandaloneMode() && !isDesktop() && viewDownloadButton">
                      <a href="javascript:void(0)" @click="downloadApp();closeMenuMobile();" class="nav-link">
                        <a-lang value="download-app"> </a-lang>
                      </a>
                    </li>
                    <li>
                      <button class="header-button" data-toggle="modal" data-target="#loginModal" data-backdrop="static"
                        data-keyboard="false" href="javascript:void(0)"
                        @click="isLogin = 'login'; modalLoginKey++; closeMenuMobile(); document.body.style.overflow = 'auto';">
                        <a-lang value="new-login"></a-lang>
                        <img :src="'images/iniciar_sesion.png'" alt="" style="width: 20px" />
                      </button>
                    </li>
                    <li>
                      <button class="mobile-register-button" @click="location.href='/signin'; closeMenuMobile();">
                        <a-lang value="sign-up"></a-lang>
                        <img :src="'images/usuario.png'" alt="" style="width: 20px" />
                      </button>
                    </li>
                    <li style="
                          display: flex;
                          width: 150px;
                          justify-content: center;
                        ">
                      <a target="_blank" href="https://www.instagram.com/bet593oficial"><img
                          src="images/yellow-instagram.png" alt="logo_instagram" style="width: 24px" /></a>
                      <a target="_blank" href="https://www.facebook.com/bet593oficial"><img
                          src="images/yellow-facebook.png" alt="logo_facebook" style="width: 24px" /></a>
                      <a target="_blank" href="https://twitter.com/bet593"><img src="images/yellow-x.png" alt="logo_x"
                          style="width: 24px" /></a>
                    </li>
                    <li style="
                          display: flex;
                          width: 150px;
                          justify-content: center;
                        ">
                      <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" style="
                              background-color: rgba(0, 0, 0, 0);
                              color: rgb(255, 215, 0);
                              line-height: 1px;
                              font-size: 14px;
                            " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div v-show="store.state.locate=='en-GB'" width="40" height="30">
                            EN
                          </div>
                          <div v-show="store.state.locate=='es-ES'" width="40" height="30">
                            ES
                          </div>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="
                              top: 44px !important;
                              min-width: 65px !important;
                              background-color: #202659;
                              color: rgb(255, 215, 0);
                            ">
                          <a class="dropdown-item" @click="changeLang('en-GB')" style="
                                padding-left: 12px;
                                padding-right: 12px;
                                width: 64px;
                                cursor: pointer;
                              ">
                            <div width="40" height="30">EN</div>
                          </a>
                          <a class="dropdown-item" @click="changeLang('es-ES')" style="
                                padding-left: 12px;
                                padding-right: 12px;
                                width: 64px;
                                cursor: pointer;
                              ">
                            <div width="40" height="30">ES</div>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a th:href="*{urlSso}">
                        <img src="images/logo-loteria.png" alt="logo_loteria" class="logo"
                          @click="closeMenuMobile();loadingOnDelay();destroySportsBook()" />
                      </a>
                    </li>
                  </div>
                  <div id="container-menu-mobile" v-else>
                    <a href="#"
                      @click="store.state.tabProfile='profile';closeMenuMobile();getBalances();modalProfileKey++"
                      data-toggle="modal" data-target="#userProfile" data-backdrop="static" data-keyboard="false">
                      <div class="row" id="mobile-menu-welcome">
                        <div class="col-12">
                          <b><a-lang value="welcome"> </a-lang></b>
                        </div>
                        <div class="col-8">
                          <p>
                            {{store.state.firstname }}
                            {{store.state.lastname}}
                          </p>
                        </div>
                        <div class="col-4">
                          <img src="images/mobile_arrow_right.png" alt="mobile_arrow_right" width="48px"
                            style="margin-top: -13px" />
                        </div>
                      </div>
                    </a>
                    <a href="#" @click="store.state.tabProfile='deposit';closeMenuMobile();modalProfileKey++"
                      data-toggle="modal" data-target="#userProfile" data-backdrop="static" data-keyboard="false">
                      <div id="mobile-menu-balance">
                        <img src="images/mobile_dollars.png" alt="mobile_dollars" width="24px" />
                        <a-lang value="mobile-menu-balance"> </a-lang>
                        <b>{{ cash }} {{ currencyView(currency) }}</b>
                        <br />
                        <img src="images/mobile_dollars.png" alt="mobile_dollars" width="24px" />
                        <a-lang value="mobile-menu-bonus"> </a-lang>
                        {{ promotionalCredits }} {{ currencyView(currency) }}
                        <br />
                        <img src="images/mobile_dollars.png" alt="mobile_dollars" width="24px" />
                        <a-lang value="mobile-menu-bonus-bet"> </a-lang>
                        {{ promotionalBetCredits }} {{ currencyView(currency)
                        }}
                      </div>
                    </a>
                    <li><br /></li>
                    <li>
                      <a :href="'#/home'" :class="{'active':isCurrentRoutePath('/home')}"
                        @click="closeMenuMobile();loadingOnDelay(200);destroySportsBook()">
                        <a-lang value="home"> </a-lang>
                      </a>
                    </li>
                    <li class="custom-sub-menu">
                      <a class="nav-link collapsed text-truncate submenu-icon" href="#pronosticos"
                        data-toggle="collapse" data-target="#pronosticos">
                        <a-lang value="pronosticos"></a-lang>
                      </a>
                      <div class="collapse" id="pronosticos" aria-expanded="false">
                        <ul id="ul-pronosticos-mobile" class="flex-column nav">
                          <li class="nav-item" style="margin-bottom: 0px">
                            <a :href="'#/overview'" :class="{'active':isCurrentRoutePath('/overview')}"
                              @click="closeMenuMobile();loadingOnDelay(200)"
                              class="nav-link menu-mobile-sub-menu basket-ball">
                              <a-lang value="sports-book"> </a-lang>
                            </a>
                          </li>
                          <li class="nav-item" style="margin-bottom: 0px">
                            <a :href="'/#/games/view/virtuals'" :class="{'active':isCurrentRoutePath('/games')}"
                              @click="closeMenuMobile();loadingOnDelay(200);destroySportsBook()"
                              class="nav-link menu-mobile-sub-menu mouse">
                              <a-lang value="virtuals"> </a-lang>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <a :href="'#/games'" :class="{'active':isCurrentRoutePath('/games')}"
                        @click="closeMenuMobile();loadingOnDelay(600);destroySportsBook()">
                        <a-lang value="games"> </a-lang>
                      </a>
                    </li>
                    <li>
                      <a :href="'#/games/view/bingo'" :class="{'active':isCurrentRoutePath('/games/view/bingo')}"
                        @click="loadingOnDelay(200);destroySportsBook()">
                        <a-lang value="bingo"> </a-lang>
                      </a>
                    </li>
                    <li>
                      <a :href="'#/promotions'" :class="{'active':isCurrentRoutePath('/promotions')}"
                        @click="closeMenuMobile();loadingOnDelay(200);destroySportsBook()">
                        <a-lang value="promotions"> </a-lang>
                      </a>
                    </li>
                    <li class="custom-sub-menu">
                      <a class="nav-link collapsed text-truncate submenu-icon" href="#submenu1" data-toggle="collapse"
                        data-target="#submenu1">
                        <a-lang value="blog"></a-lang>
                      </a>
                      <div class="collapse" id="submenu1" aria-expanded="false">
                        <ul id="ul-blog-mobile" class="flex-column nav">
                          <li class="nav-item" style="margin-bottom: 0px">
                            <a href="https://blog.bet593.ec/" target="_blank" class="nav-link menu-mobile-sub-menu">
                              <a-lang value="blog"> </a-lang>
                            </a>
                          </li>
                          <li class="nav-item" style="margin-bottom: 0px">
                            <a href="https://blog.bet593.ec/tu-propia-liga/" target="_blank"
                              class="nav-link menu-mobile-sub-menu">
                              <a-lang value="tu-propia-liga"> </a-lang>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="nav-item" v-if=" !isInStandaloneMode() && !isDesktop() && viewDownloadButton">
                      <a href="javascript:void(0)" @click="downloadApp();closeMenuMobile();" class="nav-link">
                        <a-lang value="download-app"> </a-lang>
                      </a>
                    </li>
                    <li style="
                          display: flex;
                          width: 150px;
                          justify-content: center;
                        ">
                      <a target="_blank" href="https://www.instagram.com/bet593oficial"><img
                          src="images/yellow-instagram.png" alt="logo_instagram" style="width: 24px" /></a>
                      <a target="_blank" href="https://www.facebook.com/bet593oficial"><img
                          src="images/yellow-facebook.png" alt="logo_facebook" style="width: 24px" /></a>
                      <a target="_blank" href="https://twitter.com/bet593"><img src="images/yellow-x.png" alt="logo_x"
                          style="width: 24px" /></a>
                    </li>
                    <li style="
                          display: flex;
                          width: 150px;
                          justify-content: center;
                        ">
                      <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" style="
                              background-color: rgba(0, 0, 0, 0);
                              color: rgb(255, 215, 0);
                              line-height: 1px;
                              font-size: 14px;
                            " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div v-show="store.state.locate=='en-GB'" width="40" height="30">
                            EN
                          </div>
                          <div v-show="store.state.locate=='es-ES'" width="40" height="30">
                            ES
                          </div>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="
                              top: 44px !important;
                              min-width: 65px !important;
                              background-color: #202659;
                              color: rgb(255, 215, 0);
                            ">
                          <a class="dropdown-item" @click="changeLang('en-GB')" style="
                                padding-left: 12px;
                                padding-right: 12px;
                                width: 64px;
                                cursor: pointer;
                              ">
                            <div width="40" height="30">EN</div>
                          </a>
                          <a class="dropdown-item" @click="changeLang('es-ES')" style="
                                padding-left: 12px;
                                padding-right: 12px;
                                width: 64px;
                                cursor: pointer;
                              ">
                            <div width="40" height="30">ES</div>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a th:href="*{urlSso}">
                        <img src="images/logo-loteria.png" alt="logo_loteria" class="logo"
                          @click="closeMenuMobile();loadingOnDelay();destroySportsBook()" />
                      </a>
                    </li>

                    <li><br /></li>
                    <li>
                      <a class="btn-4" href="#" @click="logout();closeMenuMobile()">
                        <i class="fa fa-sign-out fa-2x"></i>
                        <a-lang value="logout"> </a-lang>
                      </a>
                    </li>
                  </div>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <!-- End mobile menu -->
    </section>

    <!-- Header End -->

    <!-- CONTENT ROUTER -->
    <section :class="isDesktop() ? '' : 'mobile-content-position'">
      <router-view :key="$route.fullPath+refreshKey" @login="isLogin='login'; modalLoginKey++;"
        @loginsb="$('#loginModal').modal('show');" @signup="isLogin='signUp';" @balance="getBalances()"
        @profilekey="modalProfileKey++">
      </router-view>
    </section>

    <!-------------------->

    <!--MODAL LOGIN-->
    <login :page-view="isLogin" :key="modalLoginKey"></login>
    <!--FINE MODAL-->

    <!--MODAL USER PROFILE-->
    <profile :key="modalProfileKey" :page-view="store.state.tabProfile"></profile>
    <!--FINE MODAL-->

    <!--MODAL VIDEO-->
    <video-modal :key="store.state.modalVideoKey"></video-modal>
    <!--FINE MODAL-->

    <!-- ADD TO HOME SCREEN MODAL 
      <div
        class="modal fade"
        id="addToHomeModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="addToHomeModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content modal-custom-content" style="height: 500px">
            <modal-header></modal-header>
            <div class="modal-body modal-custom-body subscribe sub-form">
              <h5 class="modal-title modal-custom-title" id="playModalLabel">
                <a-lang value="add-to-home-screen-1"></a-lang>
              </h5>
              <a-lang
                value="add-to-home-screen-2"
                class="modal-custom-text"
                style="font-family: 'Montserrat'"
              ></a-lang>
            </div>
            <ul class="modal-footer modal-custom-footer login_menu nav-sign">
              <li>
                <a
                  class="modal-footer-button text-center"
                  href="javascript:void(0)"
                  data-dismiss="modal"
                  @click="installAppAndroid()"
                >
                  <a-lang value="add" style="vertical-align: sub"></a-lang>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="modal fade"
        id="addToHomeModalIos"
        tabindex="-1"
        role="dialog"
        aria-labelledby="addToHomeModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content modal-custom-content">
            <modal-header></modal-header>
            <div class="modal-body modal-custom-body subscribe sub-form">
              <h5 class="modal-title modal-custom-title" id="playModalLabel">
                <a-lang value="add-to-home-screen-ios-1"></a-lang>
              </h5>
              <a-lang
                value="add-to-home-screen-ios-2 modal-custom-text"
                style="font-family: 'Montserrat'"
              ></a-lang
              ><br />
              <img
                src="images/share_ios.png"
                class="img-fluid logo-color"
                alt="share ios 1"
                style="width: 150px"
              /><br /><br />
              <a-lang value="add-to-home-screen-ios-3"></a-lang><br />
              <img
                src="images/share_ios_1.png"
                class="img-fluid logo-color"
                alt="share ios 2"
                style="width: 250px"
              />
            </div>
          </div>
        </div>
      </div>-->
    <!-- ADD TO HOME SCREEN MODAL END -->

    <!-- FOOTER -->
    <section id="contact-us" class="contact-us contact section section-footer">
      <div class="container">
        <div class="row justify-content-center">
          <a href="/#" target="_blank">
            <img src="images/footer_logo.png" alt="" style="width: 250px" />
          </a>
        </div>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <div class="row font-footer" style="padding: 20px 0px 20px 0px">
              <div class="col-12 col-md-4">
                <ul>
                  <li class="footer-li">
                    <a :href="'#/overview'" @click="loadingOnDelay(200);">
                      <a-lang value="sports-book"> </a-lang>
                    </a>
                  </li>
                  <li class="footer-li">
                    <a :href="'#/games'" @click="loadingOnDelay(600);destroySportsBook()">
                      <a-lang value="games"> </a-lang>
                    </a>
                  </li>
                  <li class="footer-li">
                    <a :href="'#/faq'" @click="loadingOnDelay(200);destroySportsBook()">
                      <a-lang value="faq"> </a-lang>
                    </a>
                  </li>
                  <li class="footer-li">
                    <a :href="'#/contact-us'" @click="loadingOnDelay(200);destroySportsBook()">
                      <a-lang value="contact-us"> </a-lang>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-md-4">
                <ul>
                  <li class="footer-li">
                    <a href="doc/Juego Responsable.pdf" target="_BLANK">
                      <a-lang value="responsible-gaming"> </a-lang>
                    </a>
                  </li>
                  <li class="footer-li">
                    <a href="doc/Terminos y Condiciones.pdf" target="_BLANK">
                      <a-lang value="agreementsTermsTitle"> </a-lang>
                    </a>
                  </li>
                  <li class="footer-li">
                    <a href="doc/Reglamento de Compras.pdf" target="_BLANK">
                      <a-lang value="purchasing-regulation"> </a-lang>
                    </a>
                  </li>
                  <li class="footer-li">
                    <a href="doc/Terminos y condiciones de participación - Pronósticos Deportivos.pdf" target="_BLANK">
                      <a-lang value="terms-sports"> </a-lang>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-md-4">
                <ul>
                  <li class="footer-li">
                    <a href="doc/Terminos y condiciones de participación - Juegos Online (live).pdf" target="_BLANK">
                      <a-lang value="terms-games"> </a-lang>
                    </a>
                  </li>
                  <li class="footer-li">
                    <a href="doc/requerimiento_usuario_bet593.pdf" target="_BLANK">
                      <a-lang value="user-requirements"> </a-lang>
                    </a>
                  </li>
                  <li class="footer-li">
                    <a href="#/privacy-policy">
                      <a-lang value="privacyPolicyTitle"> </a-lang>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
    </section>

    <section id="linkfooter" class="contact-us contact section link-section-footer">
      <div class="row justify-content-center align-items-center mt-1 mb-2">
        <div class="col-12 text-center" style="padding-top: 5px">
          <span class="footer-text font-footer"><a-lang value="footer-text"></a-lang></span>
          <a target="_blank" href="https://www.instagram.com/bet593oficial"><img src="images/white-instagram.png"
              alt="logo_instagram" style="width: 24px" /></a>
          <a target="_blank" href="https://www.facebook.com/bet593oficial"><img src="images/white-facebook.png"
              alt="logo_facebook" style="width: 24px" /></a>
          <a target="_blank" href="https://twitter.com/bet593"><img src="images/white-x.png" alt="logo_x"
              style="width: 24px" /></a>
        </div>
      </div>
    </section>

    <section id="tycfooter" class="contact-us contact section tyc-section-footer">
      <div class="row justify-content-center align-items-center mt-1 mb-2">
        <div class="col-12 text-center" style="padding-top: 5px">
          <span class="footer-text text-center font-footer" style="color: #ffd700 !important"><a-lang
              value="footer-text-1"></a-lang></span>
        </div>
      </div>
    </section>

    <!-- FOOTER End -->
  </div>

  <div id="centribal_id"></div>

  <!-- JQuery -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.0.min.js"></script>
  <script src="js/jquery.touchSwipe.min.js"></script>
  <!-- Plugins -->
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/counter.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/menu-opener.js"></script>
  <script src="js/waypoints.js"></script>
  <script src="js/YouTubePopUp.jquery.js"></script>
  <script src="js/jquery.event.move.js"></script>
  <script src="js/SmoothScroll.js"></script>
  <!-- Custom -->
  <script src="js/custom.js"></script>
  <script src="js/menu.js"></script>
  <!-- Vue lib -->
  <script src="js/vue.min.js"></script>
  <script src="js/vue-router.min.js"></script>
  <script src="js/vuex.min.js"></script>
  <script src="js/httpVueLoader.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/vue-slider-component.umd.min.js"></script>
  <!-- Project lib -->
  <script src="sw-init.js"></script>
  <script src="js/locate.js"></script>
  <script src="js/mixins.js"></script>
  <script src="js/simple-components.js"></script>
  <script src="js/aldebaran.js"></script>
  <script>
    (function (a, b, c, d, e, f, g) {
      a["CsdpObject"] = e;
      (a[e] =
        a[e] ||
        function () {
          (a[e].q = a[e].q || []).push(arguments);
        }),
        (a[e].l = 1 * new Date());
      (f = b.createElement(c)), (g = b.getElementsByTagName(c)[0]);
      f.async = 1;
      f.src = d;
      g.parentNode.insertBefore(f, g);
    })(
      window,
      document,
      "script",
      "//device.clearsale.com.br/p/fp.js",
      "csdp"
    );
    csdp("app", document.getElementById("__clearsaleClientId").value);
    csdp("sessionid", document.getElementById("__sessionId").value);
  </script>

  <!--<script src="https://cdn01.basis.net/assets/up.js?um=1"></script>
	<script type="text/javascript">
		cntrUpTag.track('cntrData', '77ae3d2ae52e37dc');
	</script>-->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5XNGQNH" height="0" width="0"
      style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
</body>

<script id="bim-snippet"
  src="https://cwcentribot.centribal.com/app/chat?key=7d9c7c3d72ad44b2995684d038fdbbae.9fa1c1fa73cc4d04926135f0a55412b2"
  type="text/javascript"></script>

</html>